h1{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    color: lightblue;
    background-color:orangered;
    text-align: center;
}
table{
    padding-top: 1px;
    margin-left: 300px;
}

th{


    background-color:fuchsia;
    text-align: center;
}
    tr{
        background-color:khaki;
     text-align: center;
        
    }

   